$primary-color: #6d5d6e;
$secondary: #393646;
$star: #fdc57b;
$bg2: #d2cdc1;
$ungu: #b89dba;
$bg: #4f4557;
$black: #1c2137;
$white: #f4eee0;
$card: #fffbea;
$red: #e94560;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$imageLarge: url(../public/imagesoptimzer/hero-image_2-large.jpg);
$imageMedium: url(../public/imagesoptimzer/hero-image_2-meduim.jpg);
$imageSmall: url(../public/imagesoptimzer/hero-image_2-small.jpg);